/* Navigation component */
.links {
    flex-direction: row;
}

a.nav-link {
    margin-left: 10px;
}


/* Footer */
footer {
    padding-top: 50px;
}

.foot {
    min-height: 200px;
}

ul {
    padding-left: 0px;
}

.footerUL > li {
  display: inline;
  padding: 10px;
}

body {
    background-color: #D3D3D3;
}

/* Error Component */
.errStyle {
    padding: 75px;
    margin:20px;
    height: 200px;
}


/* Home */
.content {
    padding-top: 30px;
}

.home {
    /* background-color: rgb(255, 255, 255); */
    margin-top: 10px;
    box-shadow: 20px 0px 50px rgba(0,0,0,0.2);
    height: 500px;
}


/* About Blog Services Contact*/
.about {
    height: 300px;
    padding-top: 10px;
}